@import url('https://fonts.googleapis.com/css2?family=Lato&family=Stardos+Stencil&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TopNav {
  text-align: center;
}

.TopNav ul {
  list-style-type: none;
}

.TopNav ul li {
  display: inline-block;
  *display: inline;
  margin: 0 1rem;
  font-size: 1.25rem;
}
