@import url('https://fonts.googleapis.com/css2?family=Lato&family=Stardos+Stencil&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TopNav {
  display: none;
}

.page {
  margin: 1rem;
}

.nameTitle {
  text-align: center;
}

.name {
  font-family: 'Stardos Stencil';
  font-size: 3rem;
}

.jobTitle {
  font-size: 1.5rem;

}

.logo {
  margin: 10%;
  max-width: 500px;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "logoP1 logoP2 logoP3 none none"
    "logoP1 logoP2 logoP3 logoP4 logoP4";
}

.logoP1 {
  grid-area: logoP1;
}

.logoP2 {
  grid-area: logoP2;
  align-self: center;
}

.logoP3 {
  grid-area: logoP3;
}

.logoP4 {
  grid-area: logoP4;
  align-self: end;
}

@media (min-width: 550px) {
  .App {
    width: 100%;
    display: grid;
    grid-template-rows: 5rem auto;
    grid-template-areas:
      "header"
      "main";
  }

  .TopNav {
    grid-area: header;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .TopNav ul {
    list-style-type: none;
  }

  .TopNav ul li {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.25rem;
    cursor: default;
  }

  .name {
    font-family: 'Stardos Stencil';
    font-size: 3.5rem;
  }

  .jobTitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 979px) {
  .App {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
      "header"
      "main";
    gap: 1.25rem;
  }

  .TopNav {
    display: inline-block;
    text-align: center;
    grid-area: header;
  }

  .TopNav ul {
    list-style-type: none;
  }

  .TopNav ul li {
    display: inline-block;
    *display: inline;
    margin: 0 1rem;
    font-size: 1.25rem;
    cursor: default;
  }

  .page {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, fr);
    gap: 1.25rem;
  }

  .nameTitle {
    text-align: left;
    grid-area: 2 / 2 / 3 / 13;
  }

  .name {
    font-family: 'Stardos Stencil';
    font-size: 4.5rem;
  }

  .jobTitle {
    font-size: 2.25rem;
  }

  .logo {
    grid-area: 3 / 7 / 5 / 12;
  }
}